{{page-title "AccordionTestApp"}}

<h2 class="text-xl" id="title">Welcome to Ember</h2>

<Accordion as |A|>
  <A.Item class="bg-sky-100 p-5" @value="item-1">
    <:header as |H|>
      <H.Header class="bg-slate-300" as |T|>
        <T.Trigger class="bg-slate-500 m-4">
          Header 1
        </T.Trigger>
      </H.Header>
    </:header>
    <:content as |C|>
      <C.Content class="bg-slate-900 text-slate-100" />
    </:content>
  </A.Item>
</Accordion>

{{outlet}}