<article>
  <h2 class="text-3xl font-bold">Accordion type="multiple"</h2>

  <Accordion @type="multiple" @defaultValue={{(array "item-2")}} as |A|>
    <A.Item @value="item-1" as |I|>
      <I.Header as |H|>
        <H.Trigger>
          Header 1
        </H.Trigger>
      </I.Header>
      <I.Content>
        Content 1
      </I.Content>
    </A.Item>
    <A.Item @value="item-2" as |I|>
      <I.Header as |H|>
        <H.Trigger>
          Header 2
        </H.Trigger>
      </I.Header>
      <I.Content>
        Content 2
      </I.Content>
    </A.Item>
  </Accordion>
</article>